git:
- alias: noobaa-core
  automerge: 'yes'
  branch: 5.11
  commit: ''
  url: https://github.com/noobaa/noobaa-core.git
- alias: noobaa-operator
  automerge: 'yes'
  branch: 5.11
  commit: ''
  url: https://github.com/noobaa/noobaa-operator.git
- alias: ceph-csi
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/ceph-csi
- alias: ocs-operator
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/ocs-operator
- alias: rook
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/rook
- alias: volume-replication-operator
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/volume-replication-operator
- alias: odf-operator
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/odf-operator
- alias: odf-console
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/odf-console
- alias: odf-console-compatibility
  automerge: 'yes'
  branch: release-4.10-compatibility
  commit: ''
  url: https://github.com/red-hat-storage/odf-console
- alias: odf-multicluster-orchestrator
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/odf-multicluster-orchestrator
- alias: ramen
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/ramen
- alias: lvm-operator
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/lvm-operator
- alias: topolvm
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/topolvm
- alias: kubernetes-csi-addons
  automerge: 'yes'
  branch: release-4.11
  commit: ''
  url: https://github.com/red-hat-storage/kubernetes-csi-addons

